.header{
  display: flex;
  align-items: center;
}

.header a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo{
  max-height: 32px;
}

.header .tittle-group{
  padding-left: 25px;
}
.header .tittle-group i{
  padding-right: 5px;
}